<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create SubReddit</title>
    <style th:replace="fragments/style :: style"></style>
</head>
<body>

<nav th:insert="fragments/nav-bar :: nav-bar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form  th:action="@{/post/save-post}" method="post" enctype="multipart/form-data">
                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title">Create Post</h4>
                        <hr>
                        <div>
                            <input name="title" type="text" class="form-control" placeholder="Title">
                        </div>
                        <div class="mt-3">
                            <textarea name="description" class="form-control" rows="3" placeholder="Description"></textarea>
                        </div>

                       <div class="mt-3">
                           <select name="subReddit.id"  class="form-select" aria-label="Default select example">
                               <option selected disabled>Select Subreddit</option>
                               <option  th:each = "subReddit : ${subReddits}"
                                        th:value="${subReddit.getId()}"
                                        th:text="${subReddit.getTitle()}">
                               </option>
                           </select>
                       </div>

                        <input class="mt-3" type="file" name="file" accept="image/*">

                        <div class="mt-3">
                            <button name="discard" class="btn btn-outline-primary px-5">Discard</button>
                            <button name="save" class="btn btn-primary px-5">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>