<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style th:replace="fragments/style :: style"></style>
    <title>Reddit Clone - Detail</title>
</head>
<body>

<nav th:insert="fragments/nav-bar :: nav-bar"></nav>

<div class="container">
    <hr>

    <div class="row my-3">
        <div class="col-md-8">
            <div class="card p-3">
                <b th:text = "${post.subReddit.getTitle()}"></b>
                <span th:text = "${post.getCreatedAt()}"></span>
                <hr>
                <h1 class="text-muted" th:text="${post.getTitle()}"></h1>
                <p th:text="${post.getDescription()}" class="text-muted"></p>
                <div th:switch="${post.getImageURL()}">
                    <p th:case="null"></p>
                    <p th:case="*">
                        <img th:src="@{/assets/images/{image}(image=${post.getImageURL()})}"
                             style="width: 7rem; height: 7rem">
                    </p>
                </div>
                <hr>
                <div>
                    <p class="mt-3 fs-4 text-muted">Comments</p>
                    <div class="ms-4" th:each="comment: ${post.getComments()}">
                        <p th:text="${comment.getText()}"></p>
                    </div>
                </div>
                <form th:action="@{/comment/save-comment}" method="post">
                    <div class="mb-3 ms-2 row">
                        <div class="col-sm-3">
                            <input type="number" name="postId" th:value="${post.getId()}" hidden>
                            <input type="text" name="text" class="form-control" placeholder="Comment Here...">
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>