<nav th:fragment="nav-bar" class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <img style="width: 40px; margin: 10px;" th:src="@{/assets/app/reddit-logo.png}">
            <b style="font-size: 20px; color: rgb(0, 153, 255);"> Spring Reddit clone </b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
            </ul>
            <form class="d-flex">
                <button class="btn btn-primary me-2">SIGN UP</button>
                <button class="btn btn-outline-primary">LOGIN</button>
            </form>
        </div>
    </div>
</nav>