<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style th:replace="fragments/style :: style"></style>
    <title>Reddit Clone</title>
</head>
<body>

<nav th:insert="fragments/nav-bar :: nav-bar"></nav>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-8">
            <div th:each = "post: ${posts}" class="card mb-3 px-3">
                <b th:text = "${post.subReddit.getTitle()}"></b>
                <span th:text = "${post.getCreatedAt()}"></span>
                <hr class="mt-0">
                <a th:href="@{post/{id}(id=${post.getId()})}" class="text-dark">
                    <h2 th:text = "${post.getTitle()}"></h2>
                </a>
                <p th:text="${post.getDescription()}" class="text-muted"></p>
                <div th:switch="${post.getImageURL()}">
                    <p th:case="null"></p>
                    <p th:case="*">
                        <img th:src="@{/assets/images/{image}(image=${post.getImageURL()})}"
                             style="width: 7rem; height: 7rem">
                    </p>
                </div>
                <hr style="margin-top: 100px;">
                <p class="fs-5 text-muted">
                    <i class="fas fa-comment-dots"></i>
                    Comment (<span th:text="${post.getComments().size()}"></span>)
                    <a style="text-decoration: none" th:href="@{post/{id}(id=${post.getId()})}">
                        <button class="btn btn-primary">
                            READ POST
                        </button>
                    </a>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <div class="card">
                    <img th:src="@{/assets/app/post-and-sub-reddit.jpg}"
                         class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <p class="card-text fs-5">
                            Welcome to Spring Reddit Clone home page.
                            Come here to check in with your favorite subreddit
                        </p>

                            <a style="text-decoration: none" th:href="@{/post/create}">
                                <button style="width:100%;" class="btn btn-primary ">
                                    CREATE POST
                                </button>
                            </a>
                            <a style="text-decoration: none" th:href="@{/subreddit/create}">
                                <button style="width:100%; margin-top: 5px;" class="btn btn-outline-primary">
                                CREATE SUBREDDIT
                                </button>
                            </a>
                    </div>
                </div>
                <div class="card my-2 ps-3">
                    <h4>Browse subreddit</h4>
                    <hr>
                    <div th:each="subReddit: ${subReddits}">
                        <a th:text="${subReddit.getTitle()}"  class="fs-5" th:href="@{#}">java</a>
                        <hr>
                    </div>
                    <a class="fs-5 text-center text-muted" th:href="@{#}">View All</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>